@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0px;
    top:0;
    background: linear-gradient(to right bottom, rgb(51, 97, 230), rgb(100 , 209 , 249))  no-repeat ;
    min-height: 100%;
    width: 100%;
}
body {

    background: linear-gradient(
        to right bottom,
        rgb(51, 97, 230) , rgb(100 , 209 , 249)
      )
}
#myVideo {
    position: fixed;
    top:0;
    width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  